@model IEnumerable<Blog.Models.TIN>
@{
    ViewBag.Title = "TheoChuDe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Blog.Models;
<h2></h2>
@foreach (var tin in Model)
{
    <div class="list">
        <li>
            <div class="img">
                @*<img src="~/HinhAnh/@Model.MAANH" alt="" class="ad" />*@
            </div>
            <div class="title"> <h3><a href="@Url.Action("Detail","Home",new { id = tin.MATIN})"> @tin.TENTIN </a></h3></div>
            <div class="mota">
                <p>@tin.MOTA</p>
            </div>
        </li>
    </div>
}
